body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(72, 61, 139);
}
.center {
    text-align: center;
}

h1 {
    color: darkslateblue;
}

.container {
    padding: 0px 20px;
}

nav a:hover{
    color: blueviolet;
}